workspace_3_programs.sh
workspace_3_layout.json
workspace_2_programs.sh
workspace_2_layout.json
workspace_1_programs.sh
workspace_1_layout.json
workspace_4_layout.json
workspace_4_programs.sh
workspace_5_layout.json
workspace_5_programs.sh
i3-bash-files/check-connection-type.sh
workspace_1_DP2_layout.json
